<div class="container"
    fxLayout="row wrap"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0" *ngIf="dish" [@visibility]="visibility">

    <div fxFlex="40" *ngIf="dish" [@expand]>
            <mat-card >
              <mat-card-header>
                <mat-card-title>
                  <h1 >{{ dish.name | uppercase }}</h1>
                </mat-card-title>
              </mat-card-header>
              <img mat-card-image src="{{ baseURL + dish.image }}" alt={{dish.name}} height="200px" >
              <mat-card-content>
                <p >{{ dish.description }}</p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button [routerLink]="['/dishDetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
                <button mat-button (click)="goBack()">BACK</button>
                <button mat-button [routerLink]="['/dishDetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
              </mat-card-actions>
            </mat-card>
        </div>
      <div fxFlex="40" *ngIf="dish" [@expand]>
        <div>
        <mat-list >
            <h1>Comments</h1>
            <mat-list-item *ngFor="let dishcomments of dish.comments ">
            <p matLine> 
              <span>{{ dishcomments.comment }}</span>
            </p>
            <p matLine>  
              <span>{{ dishcomments.rating }} stars</span>
            </p>
            <p matLine>
              <span>--{{ dishcomments.author }} {{ dishcomments.date | date:'mediumDate' }}</span>
            </p>
          </mat-list-item>
        </mat-list>
        </div>
        <div>
          <form novalidate [formGroup]="formGrp" #commentform="ngForm" (ngSubmit) ="onSubmit()">
            <!--<p>{{ formGrp.value | json }} {{ formGrp.status | json }}</p>-->

            <p>
              <mat-form-field>
                <input matInput formControlName = "author" type="text" placeholder="Name" required>
              </mat-form-field>
             <mat-error *ngIf="commentErr.author">{{ commentErr.author }}</mat-error>
            </p>
            <p>
              <mat-slider thumbLabel formControlName="rating" class="example-margin" max="5" min="1" value="1"  tickInterval="1"></mat-slider>
            </p>
            <p>
              <mat-form-field class="full-width">
                <textarea matInput formControlName="comment" placeholder="Your Comment" rows=12 required></textarea>
              </mat-form-field>
              <mat-error *ngIf="commentErr.comment">{{commentErr.comment}}</mat-error>
            </p>
            <p>
                <!--<mat-form-field class="full-width">
                  <input matInput formControlName="date" type="date" value="{{Date.now();}}"></textarea>
                </mat-form-field>
                <mat-error *ngIf="commentCls.comment">{{commentCls.comment}}</mat-error>-->
              </p>
            <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="commentform.invalid">Submit</button>
          </form>
       </div>
      </div> 
    <div fxFlex *ngIf="errMess">
        <h2>Error</h2>
        <h4>{{errMess}}</h4>
      </div>
</div>
