<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px">

     <div  fxFlex="98%" class="inner-container"  >

        <div  fxflex class="titleLogoCls">
            <div><h1>To reach me! </h1></div>
            <hr>
        </div>

        
        <mat-tab-group animationDuration="2000ms">
            <mat-tab label="Feedback">
            <div fxFlex >
                <div ><h3>Send me your Feedback/Message</h3></div>
                <div  *ngIf="successMsg">
                        <h4>{{successMsg}}</h4>
                </div>
                <div >
                <form novalidate [formGroup]="msgFormGrp" (ngSubmit) ="onSubmit()" *ngIf="!loadDisplay" class="form-size">
                    <p>
                    <mat-form-field class="half-width">
                        <input matInput formControlName="firstname" placeholder="Name" type="text" required>
                    </mat-form-field>
                    <mat-error *ngIf="formErrors.firstname">{{formErrors.firstname}}</mat-error>
                    </p>
                    <p>
                    <mat-form-field class="half-width">
                        <input matInput formControlName="email" placeholder="Email" type="email" email required>
                    </mat-form-field>
                    <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>
                    </p>
                    <p>
                    <mat-form-field class="full-width">
                        <textarea matInput formControlName="message" placeholder="Message" rows=5 required></textarea>
                    </mat-form-field>
                    <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>

                    </p>
                    <button mat-raised-button color="primary" type="submit" [disabled]="msgFormGrp.invalid">Submit</button>
                </form>
                </div>
                <div  *ngIf="loadDisplay">      
                    <mat-spinner></mat-spinner><h4>Sending email . . . Please Wait</h4>
                </div>
            </div>
            </mat-tab>
           
            <mat-tab label="Social Media"> 
                    <mat-grid-list cols="4" style="border:0px solid red;"   >
                        <mat-grid-tile>
                            <h4>My LinkedIn Profile</h4>    
                            <a  href="https://www.linkedin.com/in/saraswathi-anbu-07364215a/" target="_blank" >
                                <span><img src="../../assets/images/Linkedin.png" height="100px"></span></a>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <h4>Email</h4><br>
                            <a  href="mailto:sara_anbu85@yahoo.co.in">
                            <img src="../../assets/images/gmail-logo.png" height="100px"></a>
                        </mat-grid-tile>
                    </mat-grid-list>
            </mat-tab>
        </mat-tab-group>

        
     </div>

</div>