<div class="container" fxLayout="column" fxLayoutGap="10px">
<div fxFlex>
  <div>
    <h3>Contact Us</h3>
    <hr>
  </div>
</div>

<div fxflex>
  <h3>Location Information</h3>
  <div fxLayout="column" fxLayout.gt-sm="row">
    <div fxFlex="50" fxFlexOffset="20px">
      <h4>Our Address</h4>
      <address>
          121, Clear Water Bay Road<br>
          Clear Water Bay, Kowloon<br>
          HONG KONG<br>
          <i class="fa fa-phone"></i>: +852 1234 5678<br>
          <i class="fa fa-fax"></i>: +852 8765 4321<br>
          <i class="fa fa-envelope"></i>: 
                <a href="mailto:confusion@food.net">confusion@food.net</a>
      </address>
      <p></p>
      <div>
        <a mat-raised-button href="tel:+85212345678"><i class="fa fa-phone"></i> Call</a>
        <a mat-raised-button><i class="fa fa-skype"></i> Skype</a>
        <a mat-raised-button href="mailto:confusion@food.net"><i class="fa fa-envelope-o"></i> Email</a>
      </div>
    </div>
    <div fxFlex="40">
      <h4>Map of our Location</h4>
    </div>
  </div>
</div>

<div fxflex fxFlexOffset="20px" class="form-size">
  <h3>Send us your Feedback</h3>
 <!-- <p>{{ FeedbackFormGrp.value | json }} {{ FeedbackFormGrp.status | json }} {{ msg }} {{ saving }}</p>-->

  <form novalidate [formGroup]="FeedbackFormGrp" #fform="ngForm" (ngSubmit) ="onSubmit()" *ngIf='formDisplay' [@expand]>
    <p>
      <mat-form-field class="half-width">
        <input matInput formControlName="firstname" placeholder="First Name" type="text" required>
      </mat-form-field>
      <mat-error *ngIf="formErrors.firstname">{{formErrors.firstname}}</mat-error>
      <mat-form-field class="half-width">
        <input matInput formControlName="lastname" placeholder="Last Name" type="text" required>
      </mat-form-field>
      <mat-error *ngIf="formErrors.lastname">{{formErrors.lastname}}</mat-error>
    </p>
    <p>
      <mat-form-field class="half-width">
        <input matInput formControlName="telnum" placeholder="Tel. Number" type="tel"  pattern="[0-9]*"  required>
      </mat-form-field>
      <mat-error *ngIf="formErrors.telnum">{{formErrors.telnum}}</mat-error>
      <mat-form-field class="half-width">
        <input matInput formControlName="email" placeholder="Email" type="email" email required>
      </mat-form-field>
      <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>
    </p>
    <table class="form-size">
      <td>
        <mat-slide-toggle formControlName="agree">May we contact you?</mat-slide-toggle>
      </td>
      <td>
        <mat-select placeholder="How?" formControlName="contacttype">
          <mat-option *ngFor="let ctype of conType" [value]="ctype">
            {{ ctype }}
          </mat-option>
        </mat-select>
      </td>
    </table>
    <p>
      <mat-form-field class="full-width">
        <textarea matInput formControlName="message" placeholder="Your Feedback" rows=12 ></textarea>
      </mat-form-field>
    </p>
    <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="FeedbackFormGrp.invalid" >Submit</button>
  </form>
  
  <!--Success Info List-->
  <div  *ngIf="successDisplay" [@expand]>
    <h3>Your Submission</h3>
    <mat-list role="fblist">
      <mat-list-item role="fblist">First Name: {{ feedback.firstname}}</mat-list-item>
      <mat-list-item role="fblist">Last Name: {{ feedback.lastname}}</mat-list-item>
      <mat-list-item role="fblist">Tel. Number: {{ feedback.telnum}}</mat-list-item>
      <mat-list-item role="fblist">Email: {{ feedback.email}}</mat-list-item>
      <mat-list-item role="fblist">Contact You?: {{ feedback.agree}}</mat-list-item>
      <mat-list-item role="fblist">How?: {{ feedback.contacttype}}</mat-list-item>
      <mat-list-item role="fblist">Feedback: {{ feedback.message}}</mat-list-item>
    </mat-list>
</div>


 <div *ngIf='saving'>
      <mat-spinner></mat-spinner><h4>Loading2 . . . Please Wait</h4>
  </div> 
</div>

<div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{promoErrMess}}</h4>
  </div>
</div>