.titleCls { 
    padding: 0; 
    margin: 0; 
    font-family: Helvetica,Arial,sans-serif; 
    font-size:40px;
  }

$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #9575CD;
$background-pale: #D1C4E9;
$background-moredark: #4527A0;



.active {
    background: $background-moredark;
}

